* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-color: rgb(241, 204, 204);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  text-align: center;
}

.box h1 {
  font-size: 4rem;
}

.box button {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 30px;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  margin: 5px;
}

.box .btn {
  text-align: center;

}